[workspace]
resolver = "2"
members = [
    "cli",
    "connectors/datafusion",
    "optd/core",
    "optd/catalog",
    "synopses",
]

[workspace.dependencies]

tokio = { version = "1.47", features = ["macros", "rt", "sync"] }
tracing = "0.1"

# DataFusion dependencies
datafusion = { version = "52.0", default-features = false, features = [
    "parquet",
    "sql",
] }

[workspace.package]
version = "0.1.0"
edition = "2024"
repository = "https://github.com/cmu-db/optd"
