[workspace]
resolver = "2"
members = ["cli", "connectors/datafusion", "optd/catalog", "optd/core"]

# By default, only compiles the `optd-core` crate.
default-members = ["optd/core"]

[workspace.dependencies]

optd-datafusion = { path = "connectors/datafusion" }

tokio = { version = "1.47", features = ["macros", "rt", "sync"] }

# DataFusion dependencies
datafusion = { version = "49.0.2", default-features = false }

[workspace.package]
version = "0.1.0"
edition = "2024"
repository = "https://github.com/yliang412/optd"
